{% load static %}
<!--TODO: Find a way to split html file into several files (reusable parts)-->
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- extra HEAD top -->
    {% block extra_head_top %} {% endblock %}
    <!-- Bootstrap CSS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="{% static 'pmdb/css/style.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

    <!-- JavaScript scripts -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8"
            src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="{% static 'pmdb/js/script.js' %}"></script>

    <!-- extra HEAD bottom -->
    {% block extra_head_bottom %} {% endblock %}

    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">-->

    <title>PMDB</title>
</head>
<body>
<nav class="nav-bar">
    <div class="nav-bar__container">
        <div class="nav-bar__left-bar">
            <button class="icon-with-right-margin nav-bar__toggle-sidebar">
                <img class="icon" src="{% static 'pmdb/img/menu.png' %}" alt="menu">
            </button>
            <a href="#" class="icon-with-right-margin">
                <img class="icon" src="{% static 'pmdb/img/home-icon-silhouette.png' %}" alt="home">
            </a>
            <a href="#" class="icon-with-right-margin">
                <img class="icon" src="{% static 'pmdb/img/group-avatar.png' %}" alt="group">
            </a>
            <a href="#" class="icon-with-right-margin">
                <img class="icon" src="{% static 'pmdb/img/diary-silhouette.png' %}" alt="diary">
            </a>
            <a href="#" class="nav-bar__icon-link">
                <img class="icon" src="{% static 'pmdb/img/settings_icon.png' %}" alt="settings">
            </a>
        </div>
        <div class="nav-bar__middle-bar-container">
            <img class="nav-bar__logo" src="{% static 'pmdb/img/logo.png' %}" alt="application logo">
            <span class="project-title">PMDB</span>
        </div>
        <div class="nav-bar__right-bar">
            <a href="#" class="nav-bar__icon-link">
                <img class="icon" src="{% static 'pmdb/img/alert_icon.png' %}" alt="alert">
            </a>
            <a href="#" class="icon-with-left-margin">
                <img class="icon" src="{% static 'pmdb/img/information-icon.png' %}" alt="information">
            </a>
            <div class="nav-bar__profile-container">
                <span class="greeting">Hi, user</span>
                <a href="#" class="icon-with-left-margin">
                    <img class="icon" src="{% static 'pmdb/img/avatar_icon.png' %}" alt="profile">
                </a>
            </div>
        </div>
    </div>
</nav>
<div class="main-container">
    <div class="sidebar-container">
        <aside class="sidebar sidebar--hoverable hover-on">
            <div class="sidebar__tab-container sidebar__tab-container--special">
                <div class="sidebar__tab-header sidebar__tab-header--special">
                    <div class="sidebar__tab-icon-container sidebar__tab-icon-container--special">
                        <div class="sidebar__tab-icon-wrapper--special">
                            <img class="sidebar__tab-icon sidebar__tab-icon--special" src="{% static 'pmdb/img/plus.png' %}" alt="plus">
                        </div>
                    </div>
                    <div class="sidebar__tab-header-title sidebar__tab-header-title--special">
                        <div class="sidebar__tab-title-wraper sidebar__tab-title-wraper--special">
                            <span class="sidebar__tab-title sidebar__tab-title--special">Create project</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header tab-selected">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/black-light-bulb.png' %}" alt="bulb">
                    </div>
                    <div class="sidebar__tab-header-title ">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">PROJECTS</span>
                            <img class="sidebar__tab-arrow" src="{% static 'pmdb/img/arrow.png' %}" alt="arrow">
                        </div>
                    </div>
                </div>
                <ul class="sidebar__tab-menu">
                    <li class="sidebar__tab-menu-item">
                        <span class="sidebar__tab-menu-item-title">License-In</span>
                    </li>
                    <li class="sidebar__tab-menu-item sidebar__tab-menu-item--vertical-space">
                        <span class="sidebar__tab-menu-item-title">
                            R&D
                        </span>
                    </li>
                    <li class="sidebar__tab-menu-item sidebar__tab-menu-item--vertical-space">
                        <span class="sidebar__tab-menu-item-title">
                            R&D external
                        </span>
                    </li>
                </ul>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/ruler.svg' %}" alt="templates">
                    </div>
                    <div class="sidebar__tab-header-title ">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">templates</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/eye-open.svg' %}" alt="saved views">
                    </div>
                    <div class="sidebar__tab-header-title ">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">saved views</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/share.png' %}" alt="shared views">
                    </div>
                    <div class="sidebar__tab-header-title ">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">shared views</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/download-button.png' %}" alt="import manager">
                    </div>
                    <div class="sidebar__tab-header-title ">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">import manager</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidebar__tab-container">
                <div class="sidebar__tab-header">
                    <div class="sidebar__tab-icon-container">
                        <img class="sidebar__tab-icon" src="{% static 'pmdb/img/files.png' %}" alt="reports">
                    </div>
                    <div class="sidebar__tab-header-title">
                        <div class="sidebar__tab-title-wraper">
                            <span class="sidebar__tab-title">reports</span>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <div class="workspace">
        <div class="sheet">
            {% block content %} {% endblock %}
        </div>
        <div class="menu">
            <img class="menu__exit-icon" src="{% static 'pmdb/img/error.svg' %}" alt="exit">
            <div class="details">
                <div class="details__header-container">
                    <div class="details__project-name-container">
                        <span>Project details: </span><a href="#" class="details__project-name">Baclofen</a>
                    </div>
                    <div class="details__last-modification-container">
                        <span>Last modification: </span><span>User1</span>, <span>Apr 24th</span> at <span>10:48</span>
                    </div>
                </div>
                <div class="details__basic-informations-container">
                    <div class="details__container-header">
                        Basic informations
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added on</span>
                            <span class="details__data-value">2017-01-03</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added by</span>
                            <span class="details__data-value">User 1</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Project Manager</span>
                            <span class="details__data-value">User 2</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added on</span>
                            <span class="details__data-value">2017-01-03</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added by</span>
                            <span class="details__data-value">User 1</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Project Manager</span>
                            <span class="details__data-value">User 2</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added on</span>
                            <span class="details__data-value">2017-01-03</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Added by</span>
                            <span class="details__data-value">User 1</span>
                        </div>
                    </div>
                    <div class="details__data-container">
                        <div class="details__data-row">
                            <span class="details__data-key">Project Manager</span>
                            <span class="details__data-value">User 2</span>
                        </div>
                    </div>
                </div>
                <div class="details__files-container">
                    <div class="details__container-header">
                        Files
                    </div>
                    <div class="details__file-container">
                        <button class="details__more-btn">
                            <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon">
                        </button>
                        <div class="details__file-icon-container">
                            <img src="{% static 'pmdb/img/pdf.svg' %}" alt="pdf" class="details__file-icon">
                        </div>
                        <div class="details__file-info-container">
                            <div class="details__file-header">
                                <a href="#" class="details__file-link">Analitics_data_HNMR.pdf</a>
                            </div>
                            <div class="details__file-short-info">
                                <span class="details__file-user">User1</span>
                                <span class="details__file-date">Oct 6th at 11:31</span>
                            </div>
                            <div class="details__file-long-info">
                                This is some short description about file containing HNMR data. You can write anything
                                there.
                                And you test as you wish.
                            </div>
                        </div>
                    </div>
                    <div class="details__file-container">
                        <button class="details__more-btn">
                            <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon">
                        </button>
                        <div class="details__file-icon-container">
                            <img src="{% static 'pmdb/img/doc.svg' %}" alt="pdf" class="details__file-icon">
                        </div>
                        <div class="details__file-info-container">
                            <div class="details__file-header">
                                <a href="#" class="details__file-link">Analitics_data_HNMR.pdf</a>
                            </div>
                            <div class="details__file-short-info">
                                <span class="details__file-user">User1</span>
                                <span class="details__file-date">Oct 6th at 11:31</span>
                            </div>
                            <div class="details__file-long-info">
                                This is some short description about file containing HNMR data. You can write anything
                                there.
                                And you test as you wish.
                            </div>
                        </div>
                    </div>
                    <div class="details__file-container">
                        <button class="details__more-btn">
                            <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon">
                        </button>
                        <div class="details__file-icon-container">
                            <img src="{% static 'pmdb/img/txt.svg' %}" alt="pdf" class="details__file-icon">
                        </div>
                        <div class="details__file-info-container">
                            <div class="details__file-header">
                                <a href="#" class="details__file-link">
                                    Analitics_data_HNMR.pdf
                                </a>
                            </div>
                            <div class="details__file-short-info">
                                <span class="details__file-user">User1</span>
                                <span class="details__file-date">Oct 6th at 11:31</span>
                            </div>
                            <div class="details__file-long-info">
                                This is some short description about file containing HNMR data. You can write anything
                                there.
                                And you test as you wish.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
