/* Sidebar variables */
/* Fonts */
@font-face { font-family: BebasNeue; src: url("../fonts/BebasNeue-Regular.ttf"); }

/* General rules */
.no-margins { margin: 0px; }

.no-paddinds { padding: 0; }

.no-column-gutters { padding-left: 0; padding-right: 0; }

body { height: 100vh; display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; font-family: 'Open Sans', sans-serif; }

.main-container { position: relative; -ms-flex: 1; flex: 1; display: -ms-flexbox; display: flex; min-height: 0px; }

/* Navbar rules */
.nav-bar { background-color: #e0e0e0; height: 35px; padding: 0 15px; padding-bottom: 5px; padding-top: 5px; width: 100%; margin-right: auto; margin-left: auto; z-index: 1; border-bottom: solid 1px #898C8C; }

.nav-bar__container { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-right: 0; margin-left: 0; height: 100%; -ms-flex-pack: justify; justify-content: space-between; }

.nav-bar__left-bar { position: relative; min-height: 1px; padding-right: 0; padding-left: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; max-height: 25px; }

.nav-bar__middle-bar-container { -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; display: none; -ms-flex-preferred-size: 0; flex-basis: 0; -ms-flex-positive: 1; flex-grow: 1; position: relative; width: 100%; min-height: 1px; max-height: 25px; }

.nav-bar a { text-decoration: none; }

.nav-bar__right-bar { display: -ms-flexbox; display: flex; -ms-flex-pack: end; justify-content: flex-end; padding-right: 0; padding-left: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; width: auto; max-width: none; min-height: 1px; position: relative; max-height: 25px; }

.icon { width: 24px; height: 24px; }

.nav-bar__toggle-sidebar { cursor: pointer; border: none; background: transparent; padding: 0; }

.nav-bar__toggle-sidebar:focus { outline: none; }

.icon-with-right-margin { margin-right: 20px; }

.icon-with-left-margin { margin-left: 20px; }

.nav-bar__profile-container { margin-left: 9px; -ms-flex-align: center; align-items: center; display: -ms-flexbox !important; display: flex !important; }

.greeting { margin-right: 18px; }

.project-title { font-family: 'Open Sans', sans-serif; }

.project-title { font-size: 18px; font-weight: 700; text-transform: uppercase; }

.nav-bar__logo { height: 100%; -o-object-fit: contain; object-fit: contain; }

@media (min-width: 576px) { .nav-bar__container { -ms-flex-pack: initial; justify-content: initial; }
  .nav-bar__middle-bar-container { display: -ms-flexbox; display: flex; } }

/* Sidebar */
.sidebar-container { min-width: 50px; position: relative; }

.sidebar { display: inline-block; height: 100%; transition: width 0.5s; background-color: #37474f; font-family: 'Open Sans', sans-serif; line-height: 1; }

.sidebar--hoverable { position: absolute; top: 0; left: 0; z-index: 1; }

/* Tab */
.sidebar__tab-container { margin-top: 15px; margin-bottom: 15px; }

.sidebar__tab-header { display: -ms-flexbox; display: flex; }

.sidebar__tab-header-title { display: none; overflow: hidden; white-space: nowrap; width: 180px; }

.sidebar__tab-title-wraper { display: -ms-flexbox; display: flex; height: 100%; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-align: center; align-items: center; width: 170px; border-radius: 0 10px 10px 0; }

.sidebar__tab-icon-container { width: 50px; text-align: center; }

.sidebar__tab-title-wraper, .sidebar__tab-icon-container { padding: 5px 0; cursor: pointer; }

.tab-selected .sidebar__tab-title-wraper, .tab-selected .sidebar__tab-icon-container { background-color: #edb625; }

.sidebar__tab-icon { width: 24px; height: 24px; margin: auto; }

.sidebar__tab-title { font-family: 'BebasNeue', sans-serif; font-size: 1.3rem; color: #e0e0e0; }

/* Tab with menu */
.sidebar__tab-menu { color: #e0e0e0; margin: 10px 0 0 50px; padding: 0; list-style-position: inside; display: none; overflow: hidden; white-space: nowrap; }

.sidebar__tab-menu-item-title { position: relative; left: -5px; font-weight: 700; font-size: 16px; }

.sidebar__tab-menu-item--vertical-space { margin-top: 15px; margin-bottom: 15px; }

.sidebar__tab-arrow { margin-right: 10px; height: 24px; width: 24px; transition: all 0.5s; }

.sidebar__tab-arrow--rotated { transform: rotate(180deg); }

/* Tab 'Create Project' aka 'special tab' */
.sidebar__tab-icon-container--special { display: -ms-flexbox; display: flex; }

.sidebar__tab-icon-wrapper--special { background-color: #e0e0e0; padding: 5px; margin-left: 8px; transition: all 0.1s; border-radius: 50px; }

.sidebar__tab-icon-wrapper--special-hover { border-radius: 20px 0 0 20px; padding-right: 13px; }

.sidebar__tab-icon--special { height: 24px; width: 24px; }

.sidebar__tab-header-title--special { padding: 5px 0; }

.sidebar__tab-title-wraper--special { height: 34px; width: 130px; background-color: #e0e0e0; border-radius: 0 20px 20px 0; }

.sidebar__tab-title--special { color: #37474f; font-size: 1.2rem; }

/* Workspace rules */
.workspace { -ms-flex: 1; flex: 1; overflow: hidden; display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; }

.sheet { display: -ms-inline-flexbox; display: inline-flex; max-width: 100%; min-width: 70%; -ms-flex-direction: column; flex-direction: column; padding: 0 10px 10px 10px; }

.sheet__dashboard { border-bottom: solid 2px #B9BAB6; padding: 5px 40px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.sheet__table-container { -ms-flex: 1; flex: 1; overflow-y: auto; }

.sheet__table-wrapper { max-height: 100%; overflow: auto; padding-bottom: 10px; }

.sheet__icons--align-right { justify-self: right; }

.sheet__search-container { -ms-flex: 4; flex: 4; display: -ms-flexbox; display: flex; border: solid 1px #484C54; border-radius: 5px; -ms-flex-align: center; align-items: center; min-width: 0; }

.sheet__search { -ms-flex: 1; flex: 1; border: none; outline: none; margin-right: 10px; min-width: 0; }

.sheet__icon { width: 20px; height: 20px; }

.sheet__search-icon { margin: 0 10px; }

.sheet__icon--margin-left { margin-left: 10px; }

.sheet__space-filler { -ms-flex: 1; flex: 1; }

/* Table rules */
.table { margin-top: 5px; width: 100%; font-family: 'Open Sans', sans-serif; font-size: 12px; table-layout: auto; position: relative; }

.table__row { border-bottom: #CACACA 1px solid; }

.table__row:hover { background-color: #DFDFDF; }

.table__row--header { border-bottom: none; }

.table__cell { padding-top: 5px; padding-bottom: 5px; text-align: center; position: relative; }

.table__cell:first-child { padding-bottom: 0; padding-top: 0; vertical-align: middle; }

.table__select-container { width: 20px; display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; }

.table__cell--header { background-color: #394950; border: #FFFFFF 1px solid; color: #FFFFFF; white-space: nowrap; width: auto; overflow: hidden; text-overflow: ellipsis; }

.table__cell--header-no-checkbox { padding-right: 30px; padding-left: 30px; outline: none; }

.table__select { border: none; }

.table__group-icon { height: 12px; width: 12px; position: absolute; left: 3px; top: 50%; transform: translateY(-50%); }

.table__name-link { color: #8290AB; }

.table__name-link:hover { text-decoration: none; }

.table__sort-icon { height: 12px; width: 12px; color: white; right: 3px; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; }

/* Menu rules */
.menu { height: 100%; width: 350px; position: absolute; top: 0; right: 0; border-left: solid 1px #898C8C; background-color: white; padding: 10px 30px; overflow-y: auto; display: none; }

.menu__exit-icon { width: 20px; height: 20px; position: absolute; top: 10px; right: 10px; cursor: pointer; }

/* Details menu rules */
.details__header-container { width: 270px; margin: auto; padding: 5px 10px; border-bottom: 1px solid #CDCDCD; }

.details__last-modification-container { font-size: 12px; color: #959595; }

.details__basic-informations-container { font-size: 14px; }

.details__container-header { margin-top: 10px; font-weight: 700; border-bottom: 1px #EEEEEE solid; }

.details__data-row { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; margin-top: 10px; border-bottom: 1px #EEEEEE solid; }

.details__files-container { font-size: 14px; }

.details__file-container { border: 1px #EEEEEE solid; border-radius: 10px; margin-top: 10px; display: -ms-flexbox; display: flex; padding: 5px 15px 5px 0; position: relative; }

.details__file-icon-container { width: 40px; display: -ms-flexbox; display: flex; }

.details__file-icon { width: 30px; height: 30px; margin: 0 auto; }

.details__file-info-container { -ms-flex: 1; flex: 1; }

.details__file-header { font-weight: 700; }

.details__file-short-info, .details__file-long-info { font-size: 12px; color: #959595; }

.details__file-user { font-weight: bold; margin-right: 10px; }

.details__more-btn { position: absolute; top: 5px; right: 5px; display: -ms-flexbox; display: flex; height: 20px; width: 30px; -ms-flex-align: center; align-items: center; -ms-flex-pack: center; justify-content: center; border: 1px #EEEEEE solid; border-radius: 5px; outline: none; cursor: pointer; background: none; }

.details__more-icon { width: 10px; }

.details__file-link, .details__file-link:hover { color: inherit; text-decoration: inherit; }
