{% extends "pmdb/base.html" %}
{% load static %}
{% load rest_framework %}
{% load crispy_forms_tags %}
{% load verbose_tags %}

{% block javascript %}
  <script src="{% static 'pmdb/js/table.js' %}" defer></script>
  <script src="{% static 'pmdb/js/side-menus.js' %}" defer></script>
  <script src="{% static 'pmdb/js/menu-show-hide-columns.js' %}" defer></script>
{% endblock %}

{% block content %}
<div class="sheet">
 <!-- Messages -->
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> Project has been successfully added.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!-- Dashboar -->
  <div class="sheet__dashboard">
      <div class="sheet__icons">
          <a class="sheet__show-manipulation-menu" href="#"><img class="sheet__icon" src="{% static 'pmdb/img/plus.svg' %}" alt="add" /></a>
          <a href="#"><img class="sheet__icon sheet__icon--margin-left" src="{% static 'pmdb/img/upload.svg' %}" alt="upload" /></a>
      </div>
      <div class="sheet__space-filler"></div>
      <div class="sheet__icons">
          <a href="#" class="sheet__manipulation-icon"><img class="sheet__icon" src="{% static 'pmdb/img/edit.svg' %}" alt="edit" /></a>
          <a href="#" class="sheet__manipulation-icon"><img class="sheet__icon sheet__icon--margin-left" src="{% static 'pmdb/img/remove.svg' %}" alt="remove" /></a>
          <a href="#" class="sheet__manipulation-icon"><img class="sheet__icon sheet__icon--margin-left" src="{% static 'pmdb/img/download.svg' %}"
                           alt="download" /></a>
      </div>
      <div class="sheet__space-filler"></div>
      <div class="sheet__search-container">
          <a href="#"><img src="{% static 'pmdb/img/search.svg' %}" alt="search" class="sheet__icon sheet__search-icon" /></a>
          <input type="text" class="sheet__search">
      </div>
      <div class="sheet__space-filler"></div>
      <div class="sheet__icons">
          <a href="#"><img class="sheet__icon sheet__show-filter-menu" src="{% static 'pmdb/img/filter.svg' %}" alt="tags" /></a>
          <a href="#"><img class="sheet__icon sheet__icon--margin-left sheet__show-choices-menu"  src="{% static 'pmdb/img/choices-menu-icon.svg' %}" alt="menu" /></a>
          <a href="#" class="sheet__show-column-control-menu">
            <img class="sheet__icon sheet__icon--margin-left " src="{% static 'pmdb/img/columns.svg' %}" alt="table" /></a>
      </div>
  </div>
  <div class="sheet__table-container">
      <table class="_table">
          <thead class="table__thead">

            <th>ID</th>
            {% for column in columns %}
            <th>{{ column |safe |title|remove_underscore }}</th>
            {% endfor %}



          </thead>
          <tbody></tbody>
      </table>
  </div>
</div>
<div class="menu">
    <img class="menu__exit-icon" src="{% static 'pmdb/img/error.svg' %}" alt="exit" />
    <div class="details menu-container" style="display:none">
        <div class="menu-header">
            <div class="details__project-name-container">
                <span>Project details: </span><a href="#" class="details__project-name" id="details__name">Baclofen</a>
            </div>
            <div class="details__last-modification-container">
                <span>Last modification: </span><span id="details__modified_by">User1</span>, <span id="details__modify_date">Apr 24th</span>
            </div>
        </div>
        <div class="menu-body">
            <ul class="nav nav-tabs" id="detailsTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active details__tab" id="projectInformationTab-tab" data-toggle="tab" href="#projectInformationTab" role="tab" aria-controls="projectInformationTab-tab" aria-selected="true">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/information-tab-active.svg' %}" alt="project information tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/information-tab.svg' %}" alt="project information tab icon">
                        </div>
                        Informations
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link details__tab" id="plan-tab" data-toggle="tab" href="#planTab" role="tab" aria-controls="plan-tab" aria-selected="false">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/plan-active.svg' %}" alt="plan tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/plan.svg' %}" alt="plan tab icon">
                        </div>
                        Plan
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link details__tab" id="realisation-tab" data-toggle="tab" href="#realisationTab" role="tab" aria-controls="realisation-tab" aria-selected="false">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/realisation-active.svg' %}" alt="realisation tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/realisation.svg' %}" alt="realisation tab icon">
                        </div>
                        Realisation
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link details__tab" id="agreements-tab" data-toggle="tab" href="#agreementsTab" role="tab" aria-controls="agreements-tab" aria-selected="false">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/agreement-active.svg' %}" alt="agreement tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/agreement.svg' %}" alt="agreement tab icon">
                        </div>
                        Agreements
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link details__tab" id="files-tab" data-toggle="tab" href="#filesTab" role="tab" aria-controls="files-tab" aria-selected="false">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/files-active.svg' %}" alt="files tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/files.svg' %}" alt="files tab icon">
                        </div>
                        Files
                    </a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link details__tab" id="files-tab" data-toggle="tab" href="#filesTab" role="tab" aria-controls="files-tab" aria-selected="false">
                        <div class="text-center mb-1">
                            <img class="icon-lg details__tab-icon-active" src="{% static 'pmdb/img/other-active.svg' %}" alt="other tab icon">
                            <img class="icon-lg details__tab-icon" src="{% static 'pmdb/img/other.svg' %}" alt="other tab icon">
                        </div>
                        Other
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="detatilsTabContent">
                <div class="tab-pane fade show active" id="projectInformationTab" role="tabpanel" aria-labelledby="projectInformationTab">
                    <div class="details__basic-informations-container">
                      <div class="details__container-header">
                          Project informations
                      </div>
                      {% for field in fields %}
                        <div class="details__data-container">
                            <div class="details__data-row">
                                <span class="details__data-key">{{ field.verbose_name|safe|title }}</span>
                                <span class="details__data-value" id="details__{{ field.name }}"><span style="color:silver;">&mdash;</span></span>
                            </div>
                        </div>
                      {% endfor %}

                    </div>
                </div>
                <div class="tab-pane fade show" id="planTab" role="tabpanel" aria-labelledby="plan-tab">
                    Plan
                </div>
                <div class="tab-pane fade show" id="realisationTab" role="tabpanel" aria-labelledby="realisation-tab">
                    Realisation
                </div>
                <div class="tab-pane fade show" id="agreementsTab" role="tabpanel" aria-labelledby="agreements-tab">
                    Agreements
                </div>
                <div class="tab-pane fade show" id="filesTab" role="tabpanel" aria-labelledby="files-tab">
                    <div class="details__files-container">
                        <div class="details__container-header">
                            Files
                        </div>
                        <div class="details__file-container">
                            <button class="details__more-btn">
                                <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon" />
                            </button>
                            <div class="details__file-icon-container">
                                <img src="{% static 'pmdb/img/pdf.svg' %}" alt="pdf" class="details__file-icon" />
                            </div>
                            <div class="details__file-info-container">
                                <div class="details__file-header">
                                    <a href="#" class="details__file-link">Analitics_data_HNMR.pdf</a>
                                </div>
                                <div class="details__file-short-info">
                                    <span class="details__file-user">User1</span>
                                    <span class="details__file-date">Oct 6th at 11:31</span>
                                </div>
                                <div class="details__file-long-info">
                                    This is some short description about file containing HNMR data. You can write anything
                                    there.
                                    And you test as you wish.
                                </div>
                            </div>
                        </div>
                        <div class="details__file-container">
                            <button class="details__more-btn">
                                <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon" />
                            </button>
                            <div class="details__file-icon-container">
                                <img src="{% static 'pmdb/img/doc.svg' %}" alt="pdf" class="details__file-icon" />
                            </div>
                            <div class="details__file-info-container">
                                <div class="details__file-header">
                                    <a href="#" class="details__file-link">Analitics_data_HNMR.pdf</a>
                                </div>
                                <div class="details__file-short-info">
                                    <span class="details__file-user">User1</span>
                                    <span class="details__file-date">Oct 6th at 11:31</span>
                                </div>
                                <div class="details__file-long-info">
                                    This is some short description about file containing HNMR data. You can write anything
                                    there.
                                    And you test as you wish.
                                </div>
                            </div>
                        </div>
                        <div class="details__file-container">
                            <button class="details__more-btn">
                                <img src="{% static 'pmdb/img/more.svg' %}" alt="more" class="details__more-icon" />
                            </button>
                            <div class="details__file-icon-container">
                                <img src="{% static 'pmdb/img/txt.svg' %}" alt="pdf" class="details__file-icon" />
                            </div>
                            <div class="details__file-info-container">
                                <div class="details__file-header">
                                    <a href="#" class="details__file-link">
                                        Analitics_data_HNMR.pdf
                                    </a>
                                </div>
                                <div class="details__file-short-info">
                                    <span class="details__file-user">User1</span>
                                    <span class="details__file-date">Oct 6th at 11:31</span>
                                </div>
                                <div class="details__file-long-info">
                                    This is some short description about file containing HNMR data. You can write anything
                                    there.
                                    And you test as you wish.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade show" id="otherTab" role="tabpanel" aria-labelledby="other-tab">
                    Other
                </div>
            </div>
        </div>
    </div>
    <div class="columns-control menu-container">
        <div class="menu-header">
            <img src="{% static 'pmdb/img/columns.svg' %}" alt="columns" class="menu-header__header-icon" />
            <span class="menu-header__header">Columns</span>
        </div>
        <button class="columns-control__add-column-button">
            <img src="{% static 'pmdb/img/plus-white.svg' %}" alt="add-column" class="columns-control__add-icon" />
            <span class="columns-control__button-text">Create new column</span>
        </button>


        <div class="columns-control__rows">
          {% for column in columns %}
          <div class="columns-control__row">
              <span class="columns-control__column-name">{{ column |safe |title |remove_underscore }}</span>
              <div class="columns-control__icons-container">
                  <img src="{% static 'pmdb/img/eye-show-column.svg' %}" data-column="{{ forloop.counter }}" alt="show column" class="columns-control__row-icon columns-control__show-column-icon" />
                  <img src="{% static 'pmdb/img/eye-hide-column.svg' %}" data-column="{{ forloop.counter }}" alt="hide column" class="columns-control__row-icon columns-control__hide-column-icon" />
              </div>
          </div>
          {% endfor %}

        </div>
    </div>
    <div class="menu-manipulate menu-container">
        <div class="menu-header">
            <img src="{% static 'pmdb/img/plus-round.svg' %}" alt="columns" class="menu-header__header-icon" />
            <span class="menu-header__header">Create new project</span>
        </div>
        <div class="menu-body">

              <!-- Render crispy form -->
              {% crispy form %}
              <!-- end crispy form -->

        </div>
    </div>
    {% comment %} <div class="menu-update menu-container">
        <div class="menu-header">
            <img src="{% static 'pmdb/img/edit.svg' %}" alt="columns" class="menu-header__header-icon" />
            <span class="menu-header__header">Update project</span>
        </div>
        <div class="menu-body">

              <!-- Render crispy form -->
              {% crispy form %}
              <!-- end crispy form -->

        </div>
    </div> {% endcomment %}
    <div class="menu-filter menu-container">
        <div class="menu-header">
            <img src="{% static 'pmdb/img/filter.svg' %}" alt="columns" class="menu-header__header-icon" />
            <span class="menu-header__header">Filter</span>
            <div class="menu-filter__clear-container float-right">
                <img class="menu-header__header-icon menu-header__clear-icon" src="{% static 'pmdb/img/close-cross.svg' %}" alt="clear filters" />
                <span class="menu-header__header--orange">Clear</span>
            </div>
        </div>
        <div class="menu-body">
            <form action="#" class="menu-form filter-form">
                <div class="form-group">
                    <label class="control-label">API</label>
                    <input name="api" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Brand name</label>
                    <input name="brand-name"  type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Added by</label>
                    <div class="row">
                        <div class="col form-group">
                            <input placeholder="From" class="form-control date-control" type="text">
                        </div>
                        <div class="col form-group">
                            <input placeholder="To" class="form-control date-control" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Type</label>
                    <select name="type"  class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 2</option>
                        <option value="type 3">Option 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Status</label>
                    <select name="status" class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 1</option>
                        <option value="type 3">Option 1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Project manager</label>
                    <select name="project-manager" class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 2</option>
                        <option value="type 3">Option 3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Strength</label>
                    <input name="strength" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Therapeutical area</label>
                    <select name="therapeutical-area" class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 1</option>
                        <option value="type 3">Option 1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select name="category"  class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 1</option>
                        <option value="type 3">Option 1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Pack size</label>
                    <input name="pack-size" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">Pack type</label>
                    <select name="pack-type" class="form-control custom-select" multiple="multiple">
                        <option value="type 1">Option 1</option>
                        <option value="type 2">Option 1</option>
                        <option value="type 3">Option 1</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Shell life</label>
                    <div class="row">
                        <div class="form-group col">
                            <input name="shell-life-from" type="number" class="form-control" placeholder="From" min="0">
                        </div>
                        <div class="form-group col">
                            <input name="shell-life-to"  type="number" class="form-control" placeholder="To" min="0">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">MOQ</label>
                    <input name="moq"  type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="control-label">MAH</label>
                    <input name="mah" type="text" class="form-control">
                </div>
                <div class="row">
                    <div class="col-6  offset-6">
                        <button type="submit" class="btn btn-block menu-form__submit-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="menu-choices menu-container">
        <div class="menu-header">
            <img src="{% static 'pmdb/img/choices-menu-icon.svg' %}" alt="columns" class="menu-header__header-icon" />
            <span class="menu-header__header">Choices groups</span>
        </div>
        <div class="menu-body">
            <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col d-flex align-items-center">
                        <img src="{% static 'pmdb/img/circle-blue-icon.svg' %}" alt="choices icon" class="icon-lg" />
                        <span class="ml-2">Project Managers</span>
                    </div>
                    <div class="col d-flex align-items-center">
                        <img src="{% static 'pmdb/img/circle-blue-icon.svg' %}" alt="choices icon" class="icon-lg" />
                        <span class="ml-2">Promotional chanels</span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col d-flex align-items-center">
                        <img src="{% static 'pmdb/img/circle-blue-icon.svg' %}" alt="choices icon" class="icon-lg" />
                        <span class="ml-2">Licensors</span>
                    </div>
                    <div class="col d-flex align-items-center">
                        <img src="{% static 'pmdb/img/circle-blue-icon.svg' %}" alt="choices icon" class="icon-lg" />
                        <span class="ml-2">Therapeutic areas</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
