{% load static %}

<script>
/* Create project script */
$("input#submit-id-save_changes").click(function(event){
  event.preventDefault();
  alert("Posted");
  $.ajax({
    type: "POST",
    url: "{% url 'project_create_json' %}",
    csrfmiddlewaretoken: "{{ csrf_token }}",
    data: $('.manipulate-form').serialize(),
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
      },
    success: function(){
        alert("Saved! It worked.");
      },
    error: function(XMLHttpRequest, textStatus, errorThrown) {
      alert("some error " + String(errorThrown) + String(textStatus) + String(XMLHttpRequest.responseText));
      }
    });
  });

/* Detail script */

function showDetails(id) {
  if (id === undefined) {
      id = 1;
  }
  $.ajax({
    url: "{% url 'project_detail_json' 1 %}".replace(/1/, id.toString()),
    dataType: "json",
    success: function(data) {
      Object.keys(data).forEach(function(key) {
          if ( data[key] !== null && data[key] !== "" ){
            $('#details__'+key).text(data[key]);
          }
      });
    }
  });
}

/* Table script */
$(function () {

    var table = $('._table').DataTable({
        //data: JSON_duza_tabela.data,
        //columns: JSON_duza_tabela.columns,
        searching: true,
        processing: true,
        serverSide: true,
        serverSave: true,
        ajax: "{% url 'project_list_json' %}",
        columnDefs: [
            {
                targets: 0,
                render: function (data) {
                    return '<div class="table__select-container"><input class="table__select table__select--one ' + data + '" type="checkbox"></div>';
                },
                title: '<div class="table__select-container"><input type="checkbox" class="table__select table__select--all"></div>',
                width: '25px',
                orderable: false
            },
            {
                targets: '_all',
                className: 'table__cell'

            },
            {
                targets: '_all',
                render: function (data) {
                    if (data === [] || data === '' || data === {}) {
                        return '&mdash;';
                    }
                    return data;
                }
            },
        ],
        order: [],
        paging: false,
        info: false,
        dom: 't',
        autoWidth: false,
        createdRow: function (row) {
            $(row).addClass('table__row');
        },
        initComplete: function () {
            $('.table__thead > tr').addClass('table__row table__row--header');
            $('th').addClass('table__cell--header');
            $('.table__cell--header.sorting').append('<img class="table__sort-icon" src="{% static 'pmdb/img/arrows.svg' %}">');
            $('.table__cell--header:not(:first-child)').addClass('table__cell--header-no-checkbox');

            $('.table__name-link').click(function () {
              $('.menu__content').hide();
              // child will show after parent
              $('.menu').show(0, function () {
                  $('.details').show();
              });

            });
        }
    });

    $(table.table().container()).addClass('sheet__table-wrapper');

    $(".sheet__search").keyup(function () {
        table.search(this.value).draw();
    });

    $('.sorting.table__cell--header.table__cell--header-no-checkbox').click(function () {
        $('.table__sort-icon-sorted')
            .replaceWith('<img class="table__sort-icon" src="{% static 'pmdb/img/arrows.svg' %}">');

        if ($(this).hasClass('sorting_asc')) {
            $(this)
                .children('.table__sort-icon')
                .replaceWith('<img class="table__sort-icon table__sort-icon-sorted" src="{% static 'pmdb/img/sort_asc.svg' %}">');
        }

        if ($(this).hasClass('sorting_desc')) {
            $(this)
                .children('.table__sort-icon')
                .replaceWith('<img class="table__sort-icon table__sort-icon-sorted" src="{% static 'pmdb/img/sort_desc.svg' %}">');
        }
    });

    $('.table__select--all').click(function () {
        var all_checked = $(this).prop('checked');

        if (all_checked) {
            $('.table__select--one').prop('checked', true);
        } else {
            $('.table__select--one').prop('checked', false);
        }
    });
});
</script>
